body {
    padding: 10px;
    margin: 0;   
    background-color: rgb(243, 241, 230);
    text-align: center;
}

.player1{
	margin: 0 auto;
	color: rgb(57, 17, 235);
	font-weight: bolder;
	font-size: 20px;

}

.player2{
	margin: 0 auto;
	
	color: rgb(212, 49, 31);
	font-weight: bolder;
	font-size: 20px;
}


.box{
	
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: rgb(255, 249, 249);
	line-height: 50px;
}




.dot{
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 100%;
	background-color: rgb(0, 0, 0);		
	z-index: 1000;	
}

.line{
	position: absolute;
	background-color: rgb(253, 244, 244);	
	cursor: pointer;
	z-index: 1;	

}

.lineh{
	height: 5px;
	width: 50px;
}

.linev{
	height: 50px;
	width: 5px;
}

.line:hover{
	background-color: #e30a0a;
}

.line-active{
	background-color: #373737;
}
.button {
	position: relative;
	background-color: #dea5f5;
	border: none;
	font-size: 14px;
	color: #FFFFFF;
	padding:10px;
	width: 300px;
	text-align: center;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 100px;
	font-family:'fantasy' ;
	font-weight: 500;

  }
